<h1> Add a new Category </h1>
<%= form_for @category do |f| %>
	<%= f.label(:name)%>
	<%= f.text_field(:name)%>
	<br/>
	<%= f.submit("Submit")%>
	<%= link_to("Delete", category_path(@category.id), method: :delete) %>
<%end%>
